.cabeçalho{
    background-color: #EEEF8F;
    color: #d76ee7;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    font-size: 30px;
}
.cabeçalho-imagem{
    width: 10%;
    height: 10%;
}
.cabeçalho-lista-item{
    display: inline-block;
} 
.modelos {
    background-image: linear-gradient(#EEEF8F, white);
    color: #d76ee7; 
    font-size: 15px;
    padding: 50px 45px;
}
.modelos-titulo{
    padding: 10px 0px;
}
.body{
    font-family: sans-serif;
}
.Decorações-imagem{
    width: 100px;
}
.Decorações-legenda{
    text-align: center;
}